<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>基本信息</h3>
<hr>
<form action="/tianjia" method="post">
	文章编号<input type="text" name="infoid">
    文章标题<input type="text" name="infotitle"><span>标题不能超过30个字符</span>
    <br>
    用户<input type="text" name="userinfo"><br>
    籍贯<input type="text" name="address"><br>
    发布时间<input type="text" name="date1" value="2019-10-07 15:02:00"><br>
    是否审核<input type="text" placeholder="请填写已审核/未审核" name="shenhe"><br>
    <input type="submit" value="确认保存">
</form>
</body>
</html>